<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gold Price Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <marque> welcome Rich </marque>
    <header>
        <div class="logo"> 
        </div>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="{{ url_for('predictionpage') }}">PREDICT</a></li>
                <li><a href="{{url_for('about')}}"></a>ABOUT</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>The Trusted place on Earth</h1>
        <p>Protect your wealth with the timeless value of gold</p>
        <p class="info-text">It's important to remember that gold price predictions are just that - predictions - and that actual gold prices can vary greatly from what was forecasted. As with any investment, it's important to do thorough research and seek professional advice before making any decisions about investing in gold.</p>
        <button>Get more information</button>
    </main>
</body>
</html>
